/* ------------------------------------------------------------------------------------------- */
/*   GENERAL STYLES  */

label{
	padding:10px 10px;
	color:#5be5f9;
}


/* ------------------------------------------------------------------------------------------- */
.title {

  position:fixed;
  height: 105px;
  top:0;
  width: 100%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  margin: 0px auto; 
  z-index:100;
}

.title h1{
  padding: 2px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #5be5f9;
  letter-spacing: .1em;
  margin: 0 10px 0 30px;
  font-size: 45px;
  font-weight: 500;
}
.title h2{
  padding: 2px;
  margin: 0 10px -10px 30px;
  font-size: 20px;
  font-weight: 300;
  color:white;
}
.title #first {
	padding: -20px;
    width: 25%;
    float: left;
    height: 105px;
    background-color: #3f4b51;
}
.title #second {
    width: 40%;
    float: left;
    height: 105px;
    background-color: #3f4b51;
}
.title #second h2{
    margin:10px 0 10px 0;
}
.title #third {
    width: 35%;
    float: left;
    height: 105px;
    background-color: #3f4b51;
    overflow:hidden;

}
.title #third .up {
    float: left;
    width:100%;
    height:50%;
}
.title #third .up #li{
	margin:-15px 10px 0px 20px;
	padding: 10px;
	float:right;
}
.title #third .down {
    float: left;
    width:100%;
    height:50%;
    overflow:hidden;
}
.title #third .down .name {
    float: left;
    width:50%;
    height:100%;
}
.title #third .down .name input {

  font-size: 14px;
  color:white;
  padding: 6px;
  float:right;
  margin: 10px 10px 0 50px;
  width: 140px;
  cursor: pointer;
  border: 0;
  background-color: #3f4b51;
}
.title #third .down .list {
    float: right;
    width:50%;
    height:100%;
}

.title #third .down select{
  padding: 6px;
  float:right;
  margin: 10px 20px 0 20px;
  width: 200px;
  cursor: pointer;

  outline: none;
  border: 1px solid #5be5f9;
  box-sizing: border-box;
}
.title #third .down select:focus {
  border: 1px solid #5be5f9;
  color: #5be5f9;
  background:#666666;
}
.title #third .down select:hover {
  border: 1px solid #5be5f9;
  color: #5be5f9;
}
.footer {
  position:fixed;
  bottom:0;
  float:left;
  z-index:100;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  margin: 0px auto; 
  background-color: #3f4b51;
  
}
.footer #first {
    width: 70%;
    float: left;
    height: 60px;
    background-color: #3f4b51;
    text-align:left;
}
.footer #first h3{
	margin: 0 0px 10px 0;
}
.footer #second {
    width: 30%;
    float: left;
    height: 60px;
    background-color: #3f4b51;
}
#second #li {
    padding: 10px 20px;
    margin: -10px 0px 20px 0;
}

i{
	color:#5be5f9;
	text-shadow:2px;
}
.footer h3{
  padding: 20px 30px;
  margin: 20px 15px 0 30px;
  font-size: 16px;
  font-weight: 300;
  color:white;
}

/* MENU BAR STYLE START HERE */
.menubar{
 margin: 130px 0px 0px 0px;
  background-color: #3f4b51;
  height: 31px;
  max-width: full;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menubar button {
  font-color:red;
  cursor: pointer;
  background-color: #3f4b51;
  border: 0;
  color: #ffffff;
  padding: 8px 16px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  }
.menubar button:hover {
  background: #5be5f9;
  color:black;
  }
.menubar button:active{
    background-color:olive;
}


a:link{color: #5be5f9}
a:visited{color: #5be5f9}
a:active{color: #FF00CC}

#links { 
    margin: 0 auto; 
    width: 4000px; 
    font-size:70px;
    clear: both; 
    display: block;
}
/* FORM STYLE START HERE */
.form-style {

  background: white;
  width: 320px;
  border-top: 5px solid #5be5f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 150px auto;
  opacity: 0.9;
}
.form-style:hover
{
	opacity: 1;
}
.form-style .form {
  display: block;
  padding: 20px;
}

.form-style h2 {
  margin: 0 0 20px;
  color: #5be5f9;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  }
.form-style option{
line-height:30px;
background:#666666;
 color:#5be5f9;
  }
.form-style input[type="text"],input[type="password"],input[type="email"],select {
  outline: none;
  display:inline-block;
  width: 100%;
  border: 1px solid #5be5f9;
  margin: 0 0 10px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.form-style input[type="text"]:focus, input[type="password"]:focus,input[type="email"]:focus, select:focus {
  border: 1px solid #5be5f9;
  color: #5be5f9;
  background:#666666;
  placeholder:red;
}
.form-style input[type="text"]:hover, input[type="password"]:hover,input[type="email"]:hover, select:hover {
  border: 1px solid #5be5f9;
  color: #5be5f9;
}
.form-style input[type="password"]:hover  {
  border: 1px solid #5be5f9;
  color: #5be5f9;
}

.form-style input[type="radio"]{
	overflow:hidden;
	inline-block:1;
	margin: 0 0 10px 20px;
    text-color:#5be5f9;
}
.form-style label{
	padding:10px 10px;
	color:#5be5f9;
}
.form-style h4{
	color:#5be5f9;
}
.form-style input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
  background: #5be5f9;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  margin: 5px 5px 5px 0px;
}
.form-style input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover {
  background: #666666;
  border: 1px solid #5be5f9;
  color: #5be5f9;
}
.form-style .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-color: #341efe;
  font-size: 14px;
  text-align: center;
}
.form-style .cta a:link{color: #178ab4}
.form-style .cta a:visited{color: #178ab4}
.form-style .cta a:hover{color: #FFCC00}
.form-style .cta a:active{color: #FF00CC;}

.form-style .cta #links { 
    margin: 0 auto; 
    width: 4000px; 
    font-size:70px;
    clear: both; 
    display: block;
}

#li{
	width: 30px;
	height: 30px;
	padding: 20px 20px;
	float:left;
	margin: 0 10px 0 10px;
}

.msg
{
 	text-align:center;
 	color: #178ab4; 
 	margin:120px 0px -120px 0px;
}