
.searchframe{
display:none;
overflow:hidden;
background-color: white;
width:100%;
height:100px;
margin: 10px 0px 0px 0px;
  border-top: 5px solid #5be5f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}
.searchframe:hover
{
	opacity: 1;
}
.searchframe:active
{
	background-color:black;
}

.searchframe select{
  outline: none;
  border: 1px solid #5be5f9;
  width:18%;
  margin: 30px 10px 20px 80px;
  padding: 10px;
  box-sizing: border-box;
}
.searchframe input[type="date"]{
  outline: none;
  border: 1px solid #5be5f9;
  width:18%;
  margin: 30px 20px 20px 40px;
  padding: 10px;
  box-sizing: border-box;
}
.searchframe input[type="date"]:before{
    content: attr(placeholder) !important;
}
.searchframe .searchbutton {
  cursor: pointer;
  background: #5be5f9;
  width: 18%;
  border: 0;
    margin: 30px 20px 20px 30px;
  color: #ffffff;

  padding: 13px;
  box-sizing: border-box;
}
.searchframe input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover {
  background: #666666;
  border: 1px solid #5be5f9;
  color: #5be5f9;
}

.searchframe input[type="date"]:focus,select:focus{
  border: 1px solid #5be5f9;
  color: #5be5f9;
  background-color:#666666;
}
.searchframe input[type="date"]:hover,select:hover{
  border: 1px solid #5be5f9;
  color: #5be5f9;
  background-color:#666666;
}

.buslist
{
	overflow:hidden;
	display:display;
	margin:10px 0px 20px 0px;
	width:100%;
	background: white;
	box-shadow: 0 0 10px #5be5f9;
	opacity: 0.9;
}
.buslist:hover
{
	opacity: 1;

	}
.buscontent
{
	margin:10px auto;
	width:100%;
	height:120px;
	opacity: 0.9;

}
.buscontent:hover
{
opacity: 1;
}
.buscontent #top
{
	width:100%;
	height:70%;
}
.buscontent #bottom
{
	width:100%;
	height:30%;
}
.buscontent #part1
{
	float:left;
	width:40%;
	height:100%;

}
.buscontent #part2
{
	float:left;
	width:30%;
	height:100%;
}
.buscontent #part3
{
	float:left;
	width:30%;
	height:100%;
}
#busfeature
{
	color: #ff8040;
	margin:0px 130px -10px 100px;
}
#busfeature:hover
{
	color:#5be5f9;
}
#firstrow
{
	 color:#ff8040;
	 font-weight: bold;
	 margin:0px 10px 10px 50px; 
	 font-size:20px; 
}
#secondrow
{
	
	 color:#5be5f9; 
	 margin:0px 10px 10px 50px; 
	 font-size:16px; 
}
#secondrow input[type="submit"],input[type="button"]
{
	float:right;
  margin:0px 20px 0px 20px;
  background: #5be5f9;
  width: 35%;
  height: 40px;
  border: 0;
  color: #ffffff;
}
#secondrow input[type="submit"]:hover,input[type="button"]:hover
{
  background: #666666;
  border: 1px solid #5be5f9;
  color: #5be5f9;
}

.pagination {
	position:inherit;
	float:right;
	margin:10px 10px 10px 10px;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}



/*-------------------------------------------------------------------------------*/
.myprofileframe{
	height:10px;
  display:block;
  padding: 10px;
  position: relative;
  background: white;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #5be5f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
-webkit-transition: height 2s;
transition: height 2s;
}
.myprofileframe:hover{
	background-color:black;
	height:400px;
}
.myprofileframe h2 {
  text-align:center;
  margin: 0 0 20px;
  color: #5be5f9;
  font-size: 24px;
  font-weight: 400;

  }
.myprofileframe input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
  background: #5be5f9;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  margin: 5px 5px 5px 0px;
}
.myprofileframe input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover {
  background: #666666;
  border: 1px solid #5be5f9;
  color: #5be5f9;
}
.myprofileframe input[type="text"],input[type="email"],input[type="password"],select {
  outline: none;
  display:inline-block;
  width: 100%;
  border: 1px solid #5be5f9;
  margin: 0 0 10px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.myprofileframe input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus, select:focus {
  border: 1px solid #5be5f9;
  color: #5be5f9;
  background:#666666;
}
.myprofileframe input[type="text"]:hover, input[type="password"]:hover, select:hover {
  border: 1px solid #5be5f9;
  color: #5be5f9;
}

/* -------------------------------------------------------------------------------- */


.headerframe{
position:relative;
width:100%;
height:60px;
color:white;
background:black;
margin:0px auto;
}
.headerframe h1{
text-align:center;
margin:0 auto;
padding: 10px;
}
.headerframe h2{
background-color:yello;
color:#5be5f9;
}

table,td,th {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
   border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*---------------------------------------- PASSENGER ----------------------------------*/
.passengerform {

  background: black;
  width: 90%;
  border-top: 5px solid #5be5f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 150px auto;
  opacity: 0.9;
}
.passengerform:hover
{
	opacity: 1;
}
.passengerform .form {
  display: block;
  padding: 20px;
}

.passengerform h2 {
  margin: 0 0 20px;
  color: #5be5f9;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  }
.passengerform option{
line-height:30px;
background:#666666;
 color:#5be5f9;
  }
  
  .passengerform input[type="number"] {
  outline: none;
  display:inline-block;
  width: 40%;
  border: 1px solid #5be5f9;
  margin: 0px 100px 20px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.passengerform input[type="number"]:focus {
  border: 1px solid #5be5f9;
  color: #5be5f9;
  background:#666666;
  placeholder:red;
}
.passengerform input[type="number"]:hover {
  border: 1px solid #5be5f9;
  color: #5be5f9;
}
.passengerform input[type="text"],input[type="password"],input[type="email"],select,input[type="number"] {
  outline: none;
  display:inline-block;
  width: 15%;
  border: 1px solid #5be5f9;
  margin: 0 0 10px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.passengerform input[type="text"]:focus, input[type="password"]:focus,input[type="email"]:focus, select:focus,input[type="number"]:focus {
  border: 1px solid #5be5f9;
  color: #5be5f9;
  background:#666666;
  placeholder:red;
}
.passengerform input[type="text"]:hover, input[type="password"]:hover,input[type="email"]:hover, select:hover,input[type="number"]:hover {
  border: 1px solid #5be5f9;
  color: #5be5f9;
}
.passengerform input[type="password"]:hover  {
  border: 1px solid #5be5f9;
  color: #5be5f9;
}

.passengerform input[type="radio"]{
	overflow:hidden;
	inline-block:1;
	margin: 0 0 10px 20px;
    text-color:#5be5f9;
}
.passengerform label{
	padding:10px 10px;
	color:#5be5f9;
}
.passengerform h4{
	color:#5be5f9;
}
.passengerform input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
  background: #5be5f9;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  margin: 5px 5px 5px 0px;
}
.passengerform input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover {
  background: #666666;
  border: 1px solid #5be5f9;
  color: #5be5f9;
}
.passengerform input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
