/* SLIDER FRAME */
.slider-container{
position:relative;
width:1200px;
height:400px;
margin: 60px 0px 100px 60px; 
box-shadow: 0 0 20px #5be5f9;
border:1px solid #5be5f9;
}

.slider-container .myslides{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 1.0 s;
}


/* SLIDER FRAME */
.slider-containerAdmin{
position:relative;
width:1200px;
height:400px;
margin: 120px auto;
box-shadow: 10px 10px 5px #5be5f9;
border:1px solid #5be5f9;
}

.slider-containerAdmin .myslides1{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 1.0 s;
}